*.jpg filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
Classification[[:space:]]and[[:space:]]Reg[[:space:]]Real[[:space:]]world[[:space:]]practice/* filter=lfs diff=lfs merge=lfs -text
Classification_and_Reg_Real_world_practice/*.zip filter=lfs diff=lfs merge=lfs -text
Classification_and_Reg_Real_world_practice/*.csv filter=lfs diff=lfs merge=lfs -text
